body {
    font-family: "Flaco", Helvetica, Arial, sans-serif;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;  /* Reset default body margin */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    padding: 5% 10%;
}

h1 {
    font-size: 40px;
    font-weight: 2000;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

p {
    font-size: 12px;
    font-weight: 250;
    line-height: 25px;
    margin-bottom: 15px; /* Add some bottom margin for spacing */
}

p a {
    color: inherit; /* Inherit the color from the parent, so it works in both light and dark modes */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 250;
    line-height: 25px;
    margin-bottom: 15px; /* Add some bottom margin for spacing */
    text-decoration: underline; /* Add underline to make links distinguishable */
}

a {
    text-decoration: none;
    color: #0096FF;
}

a:hover {
    text-decoration: underline;
}

#mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
