body {
    font-family: "Helvetica", sans-serif;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;  /* Reset default body margin */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Use 100% of the viewport height */
}

.inner-container {
    padding: 10% 20%;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0096FF;
}

a:hover {
    text-decoration: underline;
}

#mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
