body {
    font-family: "Helvetica", sans-serif;
    color: black;
    background-color: white;
    padding: 20px; /* Adjust as needed */
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: black;
    color: white;
}

#mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    z-index: 999; /* Ensure it's above other content */

h1.post-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

p.date {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}


/* Additional styles for dark mode */
body.dark-mode #mode-switch::before {
    content: '☀️'; /* Sun symbol in dark mode */
    color: white;
}

body:not(.dark-mode) #mode-switch::before {
    content: '🌙'; /* Moon symbol in light mode */
    color: black;
}

body.dark-mode p a {
    color: white; /* Set the link color to white in dark mode */
}


/* Responsive styles for mobile view */
@media screen and (max-width: 768px) {
    body {
        padding: 15px;
    }

    h1.post-title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    p.date {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .post-content p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
